<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css" type="text/css">
    <title>Formulaire</title>
    
</head>
<body>

    <nav>
        <ul class="menu">
            <li>
                <a href="/">Formulaire</a>
            </li>
            <li>
                <a href="/tableau">Tableau</a>
            </li>
        </ul>
    </nav>

    <h1>Enregistrement des Elèves</h1>

    <div class="ensemble">

        <form action="/eleves" method="post">

            <label for="nom">Nom :</label><br>
            <input type="text" name="nom" id="nom"><br>
                        
            <label for="prenom">Prénom :</label><br>
            <input type="text" name="prenom" id="prenom"><br>
            
            <label for="telephone">Téléphone :</label><br>
            <input type="text" name="telephone" id="telephone"><br>
            
            <input id="enregistrer" class="bouton" type="submit" value="Enregistrer">
        </form>
        
    </div>

</body>

    <script>

        const enregistrer = document.getElementById("enregistrer");

        enregistrer.onclick = function(){
        alert("Elément enregistré");
        };

    </script>

</html>