<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css" type="text/css">
    <title>Tableau</title>
</head>
<body>

    <nav>
        <ul class="menu">
            <li>
                <a href="/">Formulaire</a>
            </li>
            <li>
                <a href="/tableau">Tableau</a>
            </li>
        </ul>
    </nav>
    
    <h1>Tableau des élèves</h1>


    <div>

            <table>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Téléphone</th>
                        <th>Action</th>
                    </tr>
                </thead>

        <% for(i=0; i<resultat.length; i++) { %>

                <tbody>
                    <tr>
                        <td><%= resultat[i].nom %></td>
                        <td><%= resultat[i].prenom %></td>
                        <td><%= resultat[i].telephone %></td>
                        <td><input class="supp" type="button" value="Supprimer" 
                            onclick="supprimer('<%= resultat[i].id%>')"></td>
                    </tr>
                </tbody>
        <% } %>
            </table>
    </div>

</body>

    <script src="/public/script.js"></script>

</html>